.broadcast__main-container {
  text-align: center;
  background-color: skyblue;
  min-height: 100%;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}

.broadcast__header {
  font-family: "Rock Salt", cursive;
}

.broadcast__button {
  font-size: 1.5rem;
  background-color: purple;
  color: white;
  padding: 12px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 2px 2px 7px rgba(0, 0, 0, 0.5);
}
